<footer>
        <div class="footer-header">
            <div class="column-1">
                <img src="{{ shop.brand.logo |  image_url }}" alt="Logo">
                <h4>NEWSLETTER</h4>
                <p>Be among the first to know about our top products and exclusive offers. And get 10% off your first purchase NOW.
                </p>
                <input type="email"placeholder="Subscribe" name="email">
                <input type="submit" value="Subscribe">
            </div>
            <div class="column-2">
                <div class="site">
                    {% for item in shop.metaobjects.socialmedia.values %}
                        <a href="{{ item.socialmedia }}"><img src="{{ item.icon |  image_url:  }}" alt="{{ item.application }}"></a>
                    {% endfor %}

                </div>
                <div class="information-policy">
                    <ul>
                        <li>
                            <h3>Informations</h3>
                        </li>
                        {% for link in linklists.information-link.links %}
                            <li>
                                {{ link.title |  link_to: link.url }}
                            </li>
                        {% endfor %}
                    </ul>
                    <ul>
                        <li>
                            <h3>Policy</h3>
                        </li>
                        {% for link in linklists.policy-menu.links %}
                            <li>
                                {{ link.title |  link_to: link.url }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="allrightreserved">
            © 2022 Urbetter, Inc. All rights reserved.
        </div>
    </footer>